@page
@model WebApp.Pages.PartnerSystemModel
@{
	ViewData["Title"] = "Jet Stok Bayilik Sistemi - Jet Stok";
	ViewData["Description"] = "Jet Stok Bayisi olun birlikte kazanalım, birlikte büyüyelim. Jet Stok en iyi ve en karlı bayilik sistemidir";
	ViewData["Canonical"] = "https://www.jetstok.com/bayilik-sistemi";
	 
}
 <main class="single-project pt-0 style-5">
<main class="blog-page style-5">
	<section class="all-news pt-0 blog bg-transparent style-5">
		<h1 class="color-000 text-center top-bg-gray5"><span>Jet Stok Bayilik Sistemi</span></h1>
	</section>
</main>


<section class="style-3 statistic-container">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-1">
			</div>

			<div class="col-lg-10">
				<div class="info text-center">
					<h2 class="custom-statistic-title">
						E-Ticaret'in Lider markası Jetstok
					</h2>
					<p>Hızla büyüyen E-Ticaret dünyasında birlikte büyüyüp birlikte kazandığımız bayilerimiz arasına sizi de bekliyoruz.
				</div>
			</div>
			<div class="col-lg-1">
			</div>
		</div>
	</div>
</section>


@* Bayilik Tanımları Start *@
<section class="style-3 steps-section">
	<div class="container steps-container">
		<div class="steps">
			<div class="img-block img-bayilik">
				<img src="~/assets/img/partner1.png" />
			</div>
			<div class="content-block">

				<p class="step-title">E-Ticaret Bayilik Sistemi</p>
				<p>

					<b>E-Ticaret bayilik sistemi</b> bir markanın ürünlerini veya hizmetlerini satmak için belirli bir bölgede veya online platformda yetki verdiği iş ortaklarından oluşur. E-ticaret bayilikleri genellikle kar marjları, satış hedefleri ve diğer iş koşulları gibi belirli anlaşmalara dayanır.
				</p>

			</div>
		</div>
		<div class="steps">
			<div class="img-block img-bayilik"><img src="~/assets/img/gelir-arttir.png" /></div>
			<div class="content-block">
				<p class="step-title">Jet Stok Bayilik Nedir?</p>
				<p>
					Başarılı bir <b>E-Ticaret bayiliği</b> için doğru marka seçimi büyük önem taşır. Jet Stok Bayiliğini tercih eden işletmeler Jet Stok marka değerinden faydalanarak satışlarını hızla yükseltir. Jet Stok'un geniş ürün yelpazesi sayesinde geniş müşteri ağı oluşturur. Bu sayede kazan kazan stratejisi ile gelirlerinizi arttırırsınız.

				</p>

			</div>
		</div>
		<div class="steps">
			<div class="img-block img-bayilik"><img src="~/assets/img/bayi-panel.png" /></div>
			<div class="content-block">
				<p class="step-title">
					Jet Stok Bayilik Sistemi Nasıl Çalışır?
				</p>
				<p>
					JetStok ile işbirliği yapmayı düşünen bireyler ve şirketler, resmi başvuruda bulunmalıdırlar. Ön onay sonrası, resmi Bayilik Sözleşmeleri düzenlenir. Kendilerine bayi paneli tanımlanır ve ürünlerin eğitimlerini alırlar. Eğitim tamamlandıktan sonra bayi paneli üzerinden müşteri portfoyü oluşturabilir ve sürecini kolayca takip edebilirsiniz.
				</p>

			</div>
		</div>
		<div class="steps">
			<div class="img-block img-bayilik"><img style="" src="~/assets/img/ekip4.png" /></div>
			<div class="content-block">
				<p class="step-title">Bayiliğin Avantajları</p>
				<p>
					Ürün geliştirme ve diğer süreçler tamamen Jet Stok ekibi tarafından güvenle ve profesyonel olarak yapılır. Size sadece satışlarınızı ve gelirlerinizi arttırmak kalır.
				</p>

			</div>
		</div>
		<div class="row">

			<div class="d-flex align-items-center justify-content-center mb-40">
				<a target="_blank" title="Jet Stok Bayisi Ol" href="/bize-ulasin" class="btn rounded-pill bg-blue4 fw-bold text-white">
					<span>Aramıza Katılın</span>
				</a>
			</div>
		</div>
	</div>
</section>
@* Bayilik Tanımları End *@


<div class="container bg-gray ">
	<div class="section-head style-4">
		<h3 class="text-center plan-head">
			<span class="bayi-plan-title">Bayilik</span>
		</h3>
	</div>
	<div class="row d-flex justify-content-center align-items-center pt-5 pb-5">
		<div class="col-lg-2"></div>

		

		<div class="col-lg-6 text-center premium-bayi-paket bayi-paket mb-5 mb-lg-0 pt-3">
			<span class="bayi-title">Bayilik</span>
			<p>Müşteriyi bul</p>
			<p>Eğitimini ve Kurumu Yap</p>
			<p>İlk Satış ve Yenilemeden</p>
			<p>Yüksek Kazançlar Elde Et</p>
		</div>

		<div class="col-lg-2"></div>
	</div>
</div>


@* Bayilik Form Section Start *@
<section class="contact section-padding pt-0 pb-80 pt-50 style-6  ">
	<div class="section-head text-center style-4 mb-40">
		@* <small class="title_small">Jet Stok</small> *@
		<h2 class="mb-20"><span>Bayilik Başvurusu</span> </h2>
	</div>
	<div class="container ">
		<div class="content">
			<div class="row justify-content-center">
				<div class="col-lg-9">
					<form asp-page-handler="Contact" class="form" method="post">
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group mb-20">
									<input type="text" asp-for="contactForm.Name" class="form-control" placeholder="Adı Soyad" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group mb-20">
									<input type="text" asp-for="contactForm.Email" class="form-control" placeholder="Eposta Adresi" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group mb-20">
									<input type="number" asp-for="contactForm.Phone" class="form-control" placeholder="Telefon Numarası" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group mb-20">
									<input type="text" asp-for="contactForm.Title" class="form-control" placeholder="Bayi İsmi" required>
								</div>
							</div>
						 
							<div class="col-lg-12">
								<div class="form-group">
									<textarea rows="5" asp-for="contactForm.Description" class="form-control" placeholder="Size nasıl yardımcı olabiliriz?"></textarea>
								</div>
							</div>
							<br />
							<div class="col-lg-12 text-center btn-contact" style="margin-top:25px;">
								<input type="submit" value="Sizi Arayalım" class="btn rounded-pill bg-blue4 fw-bold text-white me-4">
							</div>
						</div>
					</form>
				</div>
			</div>
			@*<img src="/assets/img/icons/contact_a.png" alt="" class="contact_a">
			<img src="/assets/img/icons/contact_message.png" alt="" class="contact_message">*@
		</div>
	</div>
</section>
@* Bayilik Form Section End *@
 
@* Sıkça Sorulan Sorular Start *@
<section class="faq section-padding style-4 mb-80 bg-gray">
	<div class="container">
		<div class="section-head text-center style-4">
            <h2 class="mb-30"> <span>Sıkça Sorulan Sorular</span></h2>
		</div>
		<div class="content">
			<div class="faq style-3 style-4">
				<div class="accordion" id="accordionSt4">
					<div class="row gx-5">
						<div class="col-lg-12">

							<div class="accordion-item border-bottom rounded-0">
								<h2 class="accordion-header" id="@("heading1")">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@("collapse1")" aria-expanded="false" aria-controls="collapse12">
										Jet Stok Bayilik Deneme Süreci Var mı?
									</button>
								</h2>
								<div id="@("collapse1")" class="accordion-collapse collapse rounded-0" aria-labelledby="@("heading1")" data-bs-parent="#accordionSt4">
									<div class="accordion-body"	>
									Hayır, Jet Stok bayilikte deneme süreci bulunmuyor. Bayiliğiniz onaylandıktan ve eğitimlerinizi aldıktan sonra başlayabilirsiniz.
									</div>
								</div>
							</div>

							<div class="accordion-item border-bottom rounded-0">
							<h2 class="accordion-header" id="@("heading2")">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@("collapse2")" aria-expanded="false" aria-controls="collapse12">
									Jet Stok Bayi Olma Koşulları Nelerdir?
								</button>
								</h2>
							<div id="@("collapse2")" class="accordion-collapse collapse rounded-0" aria-labelledby="@("heading2")" data-bs-parent="#accordionSt4">
									<div class="accordion-body"	>
										Jet Stok bayiisi olmadan önce başvurunuz onaylanmalı ve sözleşmeyi imzalamalısınız. Sonrasında ise eğitimleri almanız gerekir.
									</div>
								</div>
							</div>

							<div class="accordion-item border-bottom rounded-0">
								<h2 class="accordion-header" id="@("heading3")">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@("collapse3")" aria-expanded="false" aria-controls="collapse12">
										Jet Stok bayilik süreci nasıl işler?
									</button>
								</h2>
								<div id="@("collapse3")" class="accordion-collapse collapse rounded-0" aria-labelledby="@("heading3")" data-bs-parent="#accordionSt4">
									<div class="accordion-body">
										Jet Stok ile işbirliği yapmayı düşünen bireyler ve şirketler, resmi başvuruda bulunduktan sonra onay sürecine girmiş olurlar. Başvuruların onaylanmasının ardından, resmi Bayilik Sözleşmeleri düzenlenir.
										<br />
										<br />
										Daha sonrasında, iş ortakları, JetStok'un ürünleri ve bayi panellerinin kullanımı konusunda uzman ekibimizden detaylı bir eğitim alırlar. Bu eğitim, iş ortaklarının platformu etkili bir şekilde kullanabilmelerini sağlar.
										<br />
										<br />
										İş ortakları, resmi bayi panelinden potansiyel müşterilerin kayıtlarını oluştururlar. Bu kayıtlar, platformdaki müşteri portföyünü yönetme ve genişletme amacını taşır.
										<br />
										<br />
										Potansiyel müşteriler, JetStok'un çeşitli paketlerinden birini satın aldıkları takdirde, iş ortakları, belirlenen komisyon oranları üzerinden hakedişlerini alırlar. Bu, iş ortaklarına, müşterilerin satın almaları üzerinden adil bir kazanç sağlama fırsatı sunar.

									</div>
								</div>
							</div>

							<div class="accordion-item border-bottom rounded-0">
								<h2 class="accordion-header" id="@("heading4")">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@("collapse4")" aria-expanded="false" aria-controls="collapse12">
										Fiyatlandırma Nasıl Yapılıyor?
									</button>
								</h2>
								<div id="@("collapse4")" class="accordion-collapse collapse rounded-0" aria-labelledby="@("heading4")" data-bs-parent="#accordionSt4">
									<div class="accordion-body">
										Fiyatlandırma, Jet Stok Bayileri’nin yapmış olduğu her satıştan belirlenmiş olan komisyon oranları üzerinden hakedişlerini alabilirler.
									</div>
								</div>
							</div>
							
							<div class="accordion-item border-bottom rounded-0">
								<h2 class="accordion-header" id="@("heading5")">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@("collapse5")" aria-expanded="false" aria-controls="collapse12">
										E ticaret bayilik almak istiyorum ama nelere dikkat etmeliyim?
									</button>
								</h2>
								<div id="@("collapse5")" class="accordion-collapse collapse rounded-0" aria-labelledby="@("heading5")" data-bs-parent="#accordionSt4">
									<div class="accordion-body">
										E-ticaret bayilik almak istendiğinde bu sözleşmenin devam edebilmesi için satışlara devam edilmesi gerekebilmektedir.
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@* Sıkça Sorulan Sorular End *@

 </main>